*{
	font-family: 'montserrat', sans-serif;
	box-sizing: border-box;
}


body {
	margin: 0;
	padding: 0;
	background: #f1f1f1;
	min-height: 100vh;
}

h1{
	/*text-decoration: none;*/
	margin-top: 60px;
	text-align: center;
	text-transform: uppercase;
	color: #333;
}
.border {
	width: 360px;
	height: 4px;
	background: #333;
	margin: 0px auto;
}
