/*About页面留言板块*/
#vcomments,#text{
  width: 900px;
  height: 100%;
  margin: 0 auto;
}

/*About页面导航*/
#nav {
  margin-top: 5px;
}

#nav ul{
  margin-right: 20px;
  list-style-type: none;
}

#nav li{
	float: right;
}

#nav a:hover {
  color: #000;
}

#nav a {
  color: #6E6E6E;
  text-decoration: none;
  position: relative;
  margin-left: 0.6rem;
  padding-bottom: 0.3rem;
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0,0,0,0.3);
  font-size: .8rem;
  cursor: pointer;
}

#nav a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 3px;
  background-color: #000;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#nav a:hover::after {
  width: 100%;
}